* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; 
}

img {
    max-width: 100%;
}

body {
    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif, "Mona Sans";
    color: #0d1117;
    padding: 30px 32px;
}

header {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

header nav ul li a {
    color: #000000;
}

header img {
    width: 62px;
    height: 36px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

header nav ul li {
    display: inline-block;
}

header .sign-in {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 17px;
}
header .sign-up {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c6cace;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 17px;
}
header a:hover,
header .sign-in:hover,
header .sign-up:hover {
    color: #565757;
    cursor: pointer;
}

.container {
    margin-left: 100px;
}

.text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1 {
    padding-top: 110px;
    font-weight: 700;
    font-size: 75px;
}

.text p {
    width: 950px;
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}

.text a button {
    background-color: #0d1117;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 23px;
    cursor: pointer;
}



.box-claster {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 150px;
}

.box-claster .box1,
.box-claster .box2,
.box-claster .box3 {
    border: 1px solid #d1d5da;
    border-radius: 16px;
    padding: 20px 10px;
    width: 400px;
    height: 1000px;
    text-align: center;
}

.box-claster .box1 p,
.box-claster .box2 p,
.box-claster .box3 p {
    font-size: 20px;
}

.box-claster .box1 .price,
.box-claster .box2 .price {
    margin-top: 55px;
}

.price {
  font-size: 23px;
  color: #0d1117;
}

.currency {
  font-weight: 500;
  margin-right: 5px;
  opacity: 0.7;
}

.amount {
  font-size: 60px;
  margin-top: -10px;
}

.unit {
  font-size: 32px;
  font-weight: 600;
}

.period {
  font-size: 1.25rem;
  color: #57606a;
}


.box-claster .box3 .starting-at {
    background-color: #ffffff;
    color: #57606a;
    border: 1px solid #d1d5da;
    padding: 8px 20px;
    margin-top: 15px;
    border-radius: 16px;
    font-size: 18px;
    width: 140px;
}

.box-claster button {
    width: 325px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #d1d5da;
    padding: 15px 40px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}

.box-claster .box2 button,
.box-claster .box3 .start-free-trial {
    background-color: #37383b;
    color: #ffffff;
    border: none;
}


.features-list {
    margin-top: 30px;
    color: #37383b;
    text-align: left;
    padding: 0 10px;
}

.list-header {
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.feature-item {
    font-size: 20px;
    color: #57606a;
    font-weight: 600;
    padding: 12px 10px;
    display: flex;
}
.feature-item:hover {
    background-color: #f6f8fa;
}
.feature-item span {
    display: inline-block;
    transition: transform 0.2s ease;
    margin-right: 10px;
    width: 12px;
}


summary {
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 10px;
    color: #1f2328;
}
summary span {
    margin-right: 10px;
    color: #57606a;
    transition: transform 0.2s ease;
    display: inline-block;
}
details[open] summary span {
    transform: rotate(90deg);
}
.feature-description {
    padding: 0 10px 15px 32px;
    font-size: 14px;
    line-height: 1.5;
    color: #57606a;
}


.dop-item {
    font-size: 12px;
    color: #57606a;
    margin-top: 2px;
    font-weight: 400;
}

.feature-header {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.feature-item span {
    margin-right: 10px;
    color: #57606a;
    font-size: 18px;
    width: 15px;
}

.blue-label {
    color: #0969da;
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0 10px 10px;
}

.box-claster .box1,
.box-claster .box2,
.box-claster .box3 {
    height: auto;
    min-height: 800px;
    padding-bottom: 30px;
}

.box-claster .box1 .dop-item,
.box-claster .box2 .dop-item,
.box-claster .box3 .dop-item {
    font-size:16px;
    display: contents;
}